<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible"
		content="IE=edge">
	<meta name="viewport"
		content="width=device-width,
				initial-scale=1.0">
	<title>Admin</title>
	<link rel="stylesheet"
		  href="~/css/addStaff.css">
	
</head>

<body>

	<!-- for header part -->
	<header>

		<div class="logosec">
			<div class="logo"> Dashboard</div>
		
		</div>

	

		<div class="message">
			
			<div class="dp">
			<img src=
"https://media.geeksforgeeks.org/wp-content/uploads/20221210180014/profile-removebg-preview.png"
					class="dpicn"
					alt="dp">
			</div>
		</div>

	</header>

	<div class="main-container">
		<div class="navcontainer">
			<nav class="nav">
				<div class="nav-upper-options">

                    <a href="/Home/AdminStaff">
					<div class="nav-option option1">
                       
						<img src=
"https://media.geeksforgeeks.org/wp-content/uploads/20221210182148/Untitled-design-(29).png"
							class="nav-img"
							alt="dashboard">
						<h3> Staffs</h3>
                    
					</div></a>

					<a href="/Home/AdminCar">
						<div class="nav-option option4">
						   
							<img src=
	"https://media.geeksforgeeks.org/wp-content/uploads/20221210182148/Untitled-design-(29).png"
								class="nav-img"
								alt="dashboard">
							<h3> Cars</h3>
						
						</div></a>

                    <a href="/Home/AdminOffer">
					<div class=" nav-option option2" style="text-decoration: none;">
                        
						<img src=
"https://media.geeksforgeeks.org/wp-content/uploads/20221210183322/9.png"
							class="nav-img"
							alt="articles">
						<h3> Offers</h3>
                    
					</div></a>

                    <a href="/Home/AddStaff">
						<div class=" nav-option option3"  style="text-decoration: none;">
							
							<img src=
	"https://media.geeksforgeeks.org/wp-content/uploads/20221210183322/9.png"
								class="nav-img"
								alt="articles">
							<h3> Add Staff</h3>
						
						</div></a>

                        <a href="/Home/AddCar">
                            <div class=" nav-option option5"  style="text-decoration: none;">
                                
                                <img src=
        "https://media.geeksforgeeks.org/wp-content/uploads/20221210183322/9.png"
                                    class="nav-img"
                                    alt="articles">
                                <h3> Add Car</h3>
                            
                            </div></a>

							<a href="/Home/AdminRequests">
								<div class=" nav-option option" style="text-decoration: none;">
		
									<img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210183322/9.png"
										class="nav-img" alt="articles">
									<h3>User Request</h3>
		
								</div>
							</a>
		

					

					<div class="nav-option logout">
						<img src=
"https://media.geeksforgeeks.org/wp-content/uploads/20221210183321/7.png"
							class="nav-img"
							alt="logout">
						<h3>Logout</h3>
					</div>

				</div>
			</nav>
		</div>
		<div class="formbold-main-wrapper">
            <div class="formbold-form-wrapper">
                <div class="formbold-form-title">
                    <h2 class="">Add Cars <i class="fa-solid fa-car-side fa-flip-horizontal"></i></h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt.
                    </p>
                </div>
				<form method="post" asp-controller="Car" asp-action="Create">
					<div class="formbold-input-flex">
						<div>
							<label for="Model" class="formbold-form-label">
								Car Model
							</label>
							<input type="text" name="Model" id="Model" class="formbold-form-input" />
						</div>
						<div>
							<label for="Condition" class="formbold-form-label">Condition </label>
							<input type="text" name="Condition" id="Condition" class="formbold-form-input" />
						</div>
					</div>

					<div class="formbold-input-flex">
						<div>
							<label for="Availability" class="formbold-form-label">Availability </label>
							<input type="checkbox" name="Availability" id="Availability" class="formbold-form-input" />
						</div>
						<div>
							<label for="RentPrice" class="formbold-form-label">Price </label>
							<input type="text" name="RentPrice" id="RentPrice" class="formbold-form-input" />
						</div>
					</div>

					<div class="formbold-mb-3">
						<label for="Picture">Insert Image:</label>
						<input type="file" name="Picture" id="Picture" class="formbold-form-input" />
					</div>

					<button type="submit" class="formbold-btn">Submit</button>
				</form>

            </div>
        </div>

	<script src="./index.js"></script>
</body>
</html>
